/* in h1 div etc, soprattutto in browser diversi, i valori di default come display
oppure margin e padding, gli vengono dati valori di default diversi, allora la cosa 
intelligente e' quella di settare dei valori di default a prescindere */

* {
    padding: 0em;
    margin: 0em;
}
html {
    background-image: url('./images/sfondo.jpg'); /* deve  essere  leggera come img */
    background-color: black;
    display: block; /* questo perche' l'immagine non e' un elemento di blocco, altrimenti poi il margin auto non  funziona */
    margin: auto;
}

body {
    max-width: 1024px; /* piu' di cosi non ha nemmeno senso, per svariati motivi, ad esempio se
    uno usa uno schermo grande lo fa per vedere piu di una pagina, quindi se glielo espandiamo al massimo non e' carino. */
    margin: auto; /* il browser posiziona al centro nel caso in cui la width fosse piu' di 1024, 
    perche' da gli stessi valori a tutti i margini del contorno dell'elemento */
    background-color: #fff;
    font-family: "Comics San MS", cursive, sans-serif;
    border: 1px
}
#header {
    padding: 1.0em;
    text-align: center;
    overflow: auto;
}
#logo {
    float: left; /* tutto quello che viene dopo gli scorre affianco, non solo la roba all'interno dello stesso "div" */
    width: 15%;
    max-width: 9em;

}
#header h1 {
    color: #BD091B;
    font-size: 1.5em;
}

#breadcram {
    background-color: #BD091B;
    background-color: white;
    padding: 0.5em 0 0.5em 1.0em; /* in ordine top rigth bottom left*/
    border-top: 1px solid #ddd;
}

#menu {
    float: left;
    width: 20%;
    padding: 0.8em;
    font-size: 1.1em;
}
#menu ul {
    list-style-type: none;
}

#menu ul li {
    padding-top: 0.5em;
    padding-top: 0.5em;

}
li a {
    text-decoration: none;
    color: black;
    cursor: none;
}
li a:hover {
    text-decoration-color: blue;
    text-decoration-line: underline;    
    color: blue;
    cursor: pointer;
}
li a:active {
    color: #FE5834;
    text-decoration-line: none;
}
#rightSidebar {
    float: right;
    width: 20%;
    font-size: 0.7;
    padding: 0.5em;
}
#contenutoPagina {
    width: 70%; /* perche' non sto li a calcolare i vari padding e margin, faccio ad occhio*/
    margin-left: 20%;
    border-left: 1px solid #ddd;
    border-right: 1px slid #ddd;

}
#contenutoPagina h2 {
    margin: 1em 0 0 0;
    text-align: center;
}
#ultimeNews h2 {
    margin: 1em 0 0 0;
    padding: 0;
}
#logo{
    float: left; /*il testo gli scorre a destra ma il contenitore del testo passa sopra al logo, quindi devo stare attento perchè
    il testo potrebbe non essere centrato eliminando lo spazio occupato dal float del logo
    Noto anche che lo header finisce prima che finisca l'immagine (in verticale) quindi devo stare attento => per correggerlo ho aggiunto
    min-height in header così sono sicuro di comprendere il logo. Ho messo 9em perchè l'ho definita qua in logo come max larghezza, e dato che
    è un quadrato allora definendo l'altezza max 9em sono a posto*/
    width: 15%; /*larghezza relativa all elemento che lo contiene*/
    max-width: 9em; /*non serve molto dato che ho definito max-width*/
}
 #fotoPrincipale {
    height: 70%;
    width: 90%;
    clear: both;
    display: block; /* IMPORYNATE ALTRIMENTI MI VENGONO CALCOLATI MARGIN 0 A TUTTO*/
    margin:auto;
}

#percorso{
    background-color: #bd091b;
    color: white;
    padding: 0.5em 0 0.5em 1.0em;
    font-weight: bold;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    
}

footer{
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em;
    padding-top: 1.3em;
    font-style: italic;
    border-top: 1px solid #ddd;
}

#codiceValido{
    float: left;
}
#cssValido{
    float: right;
}

#contenutoPagina p {
    text-justify: inter-word;
    margin: 1em 1.5em 1em 1.5em;
}

#contenutoPagina p {
    margin-left: 10%;   
}

#fotoCast, #fotoCostumi{
    margin: auto;   
    display: block;
    height: 60%;
    width: 80%;
}

dl img {
    margin: auto; 
    display: block;
    height: 20%;
    width: 40%;
}
dt {
    margin-top: 1.5em;
    color: #343635;
    margin-left: 1em;
    font-size: 1.5em;
    padding: 1em auto 1em 1em;
    background: rgb(255,255,255);
background: linear-gradient(105deg, rgba(255,255,255,0.22452731092436973) 0%, rgba(231,99,84,1) 53%, rgba(255,255,255,0) 100%);
    width: 100%;
}
#contenutoPagina  dd  p {
    margin-left: 1em;
}
dl {
    width: 100%;
}

#contenutoPagina dl img {
    margin-top: 1.5 em;
}
#contenutoPagina h3 {
    text-align: left;
    margin-left: 1em;
}
#fotoMusica, #fotoUfficio    {
    display: block;
    margin: 1.5em auto 1.5em auto; 
}
#fotoUfficio {
    height: 80%;
    width: 60%;
}